
@{
    ViewData["Title"] = "Pendentes";
    ViewData["HeaderPage"] = "Andamentos da  conformidades";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Conformidades em andamento</h1>
</div>

<div class="flex-row margin-top-10px">

    <form id="form-em-andamento-conformidade">

        <div class="flex-row margin-top-10px">

            <!-- Formulário cadastro básico-->
            <partial name="~/Views/Conformidade/Partial/_FormCadastroBasicoConformidade.cshtml" />

            <div id="block-cadastro">
                <!-- Detalhamento da conformidade -->
                <partial name="~/Views/Conformidade/Partial/_FormDetalhamentoConformidade.cshtml" />

                <!-- Ação corretiva-->
                <partial name="~/Views/Conformidade/Partial/_FormAcaoCorretivaConformidade.cshtml" />


                <!-- Análise causa raiz -->
                <partial name="~/Views/Conformidade/Partial/_FormCausaRaiz.cshtml" />

                <div class="form-row">
                    
                    <div class="form-group col-md-12 float-md-right">

                        <button type="button" class="btn btn-primary float-md-right   margin-left-4px" id="btn-salvar-conformidade">Salvar</button>
                        <button type="reset" class="btn btn-danger float-md-right" id="btn-cancelar-conformidade">Cancelar</button>
                    </div>
                </div>
            </div>
            <!-- Form table conformidade -->
            <partial name="~/Views/Conformidade/Partial/_FormTableConformidadeEdit.cshtml" />

        </div>
    </form>
</div>
 
@section Scripts
{
    <script src="~/js/app/conformidade/conformidade-edit.js"></script>
}