@{
    ViewData["Title"] = "Início";
}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Total de conformidade Mensal</h1>
    @*<div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <button class="btn btn-sm btn-outline-secondary">Compartilhar</button>
                <button class="btn btn-sm btn-outline-secondary">Exportar</button>
            </div>
            <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
                <span data-feather="calendar"></span>
                Esta semana
            </button>
        </div>*@
</div>

<canvas class="my-4 w-100" id="myChart" width="1080" height="380"></canvas>


<partial name="~/Views/Conformidade/Partial/_FormTableConformidade.cshtml" />

@section Scripts
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    <script src="~/js/dashboard.js"></script>
    <script src="~/js/app/conformidade/home-page.js"></script>
}