<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SiGNC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

</head>
<body>


    <header>
        @*<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
                <div class="container">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">SiGNC</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>*@
        <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
            <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">SiGNC</a>
            <input class="form-control form-control-dark w-100" type="text" placeholder="Pesquisar" aria-label="Search">
            <ul class="navbar-nav px-3">
                <li class="nav-item text-nowrap">
                    <a class="nav-link " href="#">Sair</a>
                </li>
            </ul>
        </nav>

    </header>

    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">

                    <ul class="nav flex-column">
                        @*<li class="nav-item">
                                <a class="nav-link " href="#">
                                    <span data-feather="home"></span>
                                    Dashboard <span class="sr-only">(current)</span>
                                </a>
                            </li>*@
                        <li class="nav-item">
                            <a class="nav-link active" asp-area="" asp-controller="Home" asp-action="Index">
                                <span data-feather="home"></span>
                                Inicio
                            </a>
                        </li>
                        <li class="nav-item">
                            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                                <span>Conformidades</span>
                                <a class="d-flex align-items-center text-muted" href="#">
                                    <span data-feather="list"></span>
                                </a>
                            </h6>
                            <a class="nav-link" asp-controller="Conformidade" asp-action="Index">
                                <span data-feather="folder"></span>
                                Novas conformidades
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Conformidade" asp-action="Pendentes">
                                <span data-feather="folder"></span>
                                Pendentes
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Conformidade" asp-action="EmAndamento">
                                <span data-feather="folder"></span>
                                Em andamento
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Conformidade" asp-action="Finalizadas">
                                <span data-feather="folder"></span>
                                Finalizadas
                            </a>
                        </li>
                        @*<li class="nav-item">
                                <a class="nav-link"  asp-area="" asp-controller="Relatorio" asp-action="Index">
                                    <span data-feather="bar-chart-2"></span>
                                    Relatórios
                                </a>
                            </li>*@
                        @*<li class="nav-item">
                                <a class="nav-link" href="#">
                                    <span data-feather="layers"></span>
                                    Integrations
                                </a>
                            </li>*@
                        <li class="nav-item">
                            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                                <span>Usuários</span>
                                <a class="d-flex align-items-center text-muted" href="#">
                                    <span data-feather="list"></span>
                                </a>
                            </h6>
                            <a class="nav-link" asp-controller="Conformidade" asp-action="Index">
                                <span data-feather="folder"></span>
                                Listar
                            </a>
                        </li>
                    </ul>


                    <ul class="nav flex-column mb-2">

                        <li class="nav-item">
                            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                                <span>Relatórios</span>
                                <a class="d-flex align-items-center text-muted" href="#">
                                    <span data-feather="plus-circle"></span>
                                </a>
                            </h6>
                            <a class="nav-link" href="#">
                                <span data-feather="file-text"></span>
                                Mensal
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="file-text"></span>
                                Total de usuários
                            </a>
                        </li>
                        @*<li class="nav-item">
                                <a class="nav-link" href="#">
                                    <span data-feather="file-text"></span>
                                    Social engagement
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <span data-feather="file-text"></span>
                                    Year-end sale
                                </a>
                            </li>*@
                    </ul>
                </div>
            </nav>

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                @RenderBody()
            </main>
        </div>
    </div>

    @*<div class="container-fluid">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>*@

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - SiGNC.Application.Web.NET5 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/feather-icons/feather.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>feather.replace()</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    <script>
        var ctx = document.getElementById("myChart");
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"],
                datasets: [{
                    data: [15339, 21345, 18483, 24003, 23489, 24092, 12034],
                    lineTension: 0,
                    backgroundColor: 'transparent',
                    borderColor: '#007bff',
                    borderWidth: 4,
                    pointBackgroundColor: '#007bff'
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: false
                        }
                    }]
                },
                legend: {
                    display: false,
                }
            }
        });
    </script>

    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
