<div class="flex-row margin-top-12px">

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Conformidades Pendentes</h1>
    </div>

    <div class="table-responsive" >
        <table class="table table-striped table-sm" id="table-conformidades-pendentes">
            <thead class="thead-dark">
                <tr>
                    <th style="width:1%">#</th>
                    <th style="width:20.3%;">Num. Conformidade</th>
                    <th style="width:7.3%;">Data Emissão</th>
                    <th>Emitente</th>
                    <th style="width:7.3%;">Status Conformidade</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

 