@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}



@*<partial name="~/Views/Conformidade/Partial/_FormDetalhamentoConformidade.cshtml" />*@
<form class="needs-validation" novalidate>
    <div class="form-row ">
        <div class="form-group col-md-12">
            <label for="descricao-detalhamento-nao-conformidade" id="lbl-desc-detalhamento-nao-conformidade">Descrição</label>
            <input type="text" class="form-control" id="descricao-detalhamento-nao-conformidade" placeholder="Descrição" required>
            <div class="invalid-feedback"> Por favor, insira a descrição.</div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-12">
            <div class="form-group">
                <label for="detalhamento-nao-conformidade" id="lbl-detalhamento-nao-conformidade">Detalhamento não conformidade</label>
                <textarea class="form-control" id="detalhamento-nao-conformidade" rows="3" required placeholder="Descrição"></textarea>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
            <label class="form-check-label" for="invalidCheck">
                Agree to terms and conditions
            </label>
            <div class="invalid-feedback">
                You must agree before submitting.
            </div>
        </div>
    </div>
    <button class="btn btn-primary" type="submit">Submit form</button>
</form>

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h5">Detalhamento não conformidade</h1>
    <a class="d-flex align-items-center text-muted" href="#" data-toggle="tooltip" data-html="true" title="Adicionar detalhamento" id="add-detalhamento">
        <span data-feather="plus-circle"></span>
    </a>
</div>
<div class="form-row ">
    <div class="form-group col-md-12">
        <label for="descricao-detalhamento-nao-conformidade" id="lbl-desc-detalhamento-nao-conformidade">Descrição</label>
        <input type="text" class="form-control" id="descricao-detalhamento-nao-conformidade" placeholder="Descrição" required>
        <div class="invalid-feedback"> Por favor, insira a descrição.</div>
    </div>
</div>

<div class="form-row">
    <div class="form-group col-md-12 float-md-right">
        <button type="button" class="btn btn-primary float-md-right" id="adicionar-detalhamento-naoconformidade">Adicionar</button>
    </div>
</div>
<div class="flex-row margin-top-12px">
    <h5>Conformidades Pendentes</h5>
    <div class="table-responsive">
        <table class="table table-striped table-sm" id="table-detalhamento">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Descrição</th>
                    <th>Detalhamento</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <div class="form-row">
        <div class="form-group col-md-12 float-md-right">
            <button type="button" class="btn btn-danger float-md-right" id="delete-row">Deletar</button>
        </div>
    </div>
</div>









<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
        'use strict';
        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>